.editor-container {
    /* margin: 20px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Overwrite the default value from lib */
.codex-editor__redactor {
    padding-bottom: 25px!important;
}